@model IEnumerable<PohybStrava.Models.Activities>

@{
    ViewData["Title"] = "Přehled aktivit";
}

<body>
    <div id="sirkatextu">
        <h3 id="tabulkynadpis">Přehled sportovních aktivit - denní hodnoty</h3>
        <p>
            <a class="pridat-tlacitko" asp-action="Create">Přidat aktivitu</a>
        </p>
        <p>
            Zadejte informace o sportovní aktivitě kliknutím na tlačítko "Přidat aktivitu".
        </p>
        <table class="table" id="centrovanitabulky">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DatumActivities)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Trasa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vzdalenost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prevyseni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tempo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Energie)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumActivities)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vzdalenost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prevyseni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tempo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Energie)
                        </td>
                        <td>
                            <a asp-action="Edit" class="pridat-tlacitko" asp-route-id="@item.ActivitiesId">Upravit</a> |
                            <a asp-action="Details" class="pridat-tlacitko" asp-route-id="@item.ActivitiesId">Podrobnosti</a> |
                            <a asp-action="Delete" class="pridat-tlacitko" asp-route-id="@item.ActivitiesId">Smazat</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <br />

        <div class="d-flex justify-content-left align-items-center container h-100">
            <a asp-action="SoucetActivitiesDen" class="pridat-tlacitko">Denní součty</a> |
            <a asp-action="PrehledMesic" class="pridat-tlacitko">Měsíční přehledy</a> |
            <a class="pridat-tlacitko" asp-controller="PrijemVydejEnergie" asp-action="Index" target="_blank">Energetická bilance</a>
        </div>
    </div>
</body>