@model PohybStrava.Models.Diet

@{
    ViewData["Title"] = "Smazat záznam";
}

<body>
    <div id="sirkatextuhlavnistrana">
        <h3>Opravdu chcete záznam smazat?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DatumDiet)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DatumDiet)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Potravina)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Potravina)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Energie)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Energie)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Mnozstvi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mnozstvi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Celkem)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Celkem)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="DietId" />
                <input type="submit" value="Smazat" class="pridat-tlacitko" /> |
                <a asp-action="Index" class="pridat-tlacitko">Zpět</a>
            </form>
        </div>
    </div>
</body>
