@model IEnumerable<PohybStrava.Models.Diet>

@{
    ViewData["Title"] = "Přehled stravy";
}

<body>
    <div id="sirkatextu">
        <h3 id="tabulkynadpis">Přehled stravy - denní hodnoty</h3>
        <p>
            <a class="pridat-tlacitko pozice-tlacitko" asp-action="Create">Přidat položku</a>
        </p>
        <p>
            Zadejte informace o stravě kliknutím na tlačítko "Přidat položku".
        </p>
        <table class="table" id="centrovanitabulky">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DatumDiet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Potravina)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Energie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mnozstvi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celkem)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumDiet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Potravina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Energie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mnozstvi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celkem)
                        </td>
                        <td>
                            <a asp-action="Edit" class="pridat-tlacitko" asp-route-id="@item.DietId">Upravit</a> |
                            <a asp-action="Details" class="pridat-tlacitko" asp-route-id="@item.DietId">Podrobnosti</a> |
                            <a asp-action="Delete" class="pridat-tlacitko" asp-route-id="@item.DietId">Smazat</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <br />
        <div class="d-flex justify-content-left align-items-center container h-100">
            <a asp-action="SoucetDietsDen" class="pridat-tlacitko">Denní součty</a> |
            <a asp-action="PrehledMesic" class="pridat-tlacitko">Měsíční přehledy</a> |
            <a class="pridat-tlacitko" asp-controller="PrijemVydejEnergie" asp-action="Index" target="_blank">Energetická bilance</a> |
            <a class="pridat-tlacitko" asp-controller="PotravinyDatabase" asp-action="Index" target="_blank">Databáze energie vybraných potravin</a>
        </div>
    </div>
</body>